@use "../../../assets/scss/variables" as var;

.spinner-container {
  width: 100%;
  top: 0;
  z-index: 10000;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.637);
}

.spinner {
  width: 120px;
  height: 120px;
  border: 20px solid var.$black-two;
  border-bottom-color: var.$light-blue;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
