<header>
  <div class="header-brand" routerLink="/">
    <i class="fa-solid fa-right-left"></i>
    <h1>TxEx</h1>
  </div>
  <div>
    <nav class="nav">
      <div
        routerLink="/"
        [routerLinkActive]="activeClass"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        class="nav-link"
      >
        Home
      </div>
      <ng-container *ngIf="currentUser">
        <div
          routerLink="/posts"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: true
          }"
          class="nav-link"
        >
          Posts
        </div>
        <div
          routerLink="/posts/create"
          routerLinkActive="active"
          class="nav-link"
          title="Create Post"
        >
          Create Post
        </div>
        <div class="nav-link" (click)="onLogout()">Logout</div>
      </ng-container>
      <ng-container *ngIf="!currentUser">
        <div
          routerLink="/auth/login"
          routerLinkActive="active"
          class="nav-link"
        >
          Login
        </div>
        <div
          routerLink="/auth/register"
          routerLinkActive="active"
          class="nav-link"
        >
          Register
        </div>
      </ng-container>
    </nav>
  </div>
</header>
