@use "../../../assets/scss/variables" as var;

header {
  background-color: var.$black;
  color: white;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  min-height: 70px;

  .header-brand {
    display: flex;
    align-items: center;
    cursor: pointer;
    i {
      font-size: 2rem;
      margin: 0 10px;
    }
    h1 {
      font-size: 2.3rem;
      margin-left: 10px;

      color: var.$light-blue;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 10px;
    position: relative;

    .nav-link {
      margin-right: 10px;
      color: var.$light-blue;
      padding: 10px;
      height: 100%;
      cursor: pointer;
    }

    .active {
      font-weight: 600;
      color: white;
    }
  }
}

.user-badge {
  background-color: rgb(226, 81, 81);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var.$box-shadow;
  margin-left: 15px;

  &:hover {
    background-color: var.$dark-red;
  }
}

.dropdown {
  box-shadow: var.$box-shadow;
  position: absolute;
  z-index: 100;

  right: 10px;
  top: 60px;
  background-color: var.$black-two;
  font-size: 1.2rem;
  border-radius: 10px;

  .username {
    cursor: unset;
  }

  &-item {
    margin: 0;
    padding: 15px 25px;
    border-bottom: 2px solid black;
    cursor: pointer;

    &:hover {
      background-color: rgb(226, 81, 81);
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
}
